* {margin: 0; padding: 0;}
        body {font-family: Verdana, Geneva, Tahoma, sans-serif;min-width: 760px;}
        li {list-style: none;}
        a {text-decoration: none;}
        image {border: 0;}